{% extends "base.html" %}

{% block active_link %}home-link{% endblock %}

{% block body %}
    <div class="card">
        <div class= "container">
            <h1 class="text-center">The Community Project</h1>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <h3 class="text-center">The Community Project is a forum that displays the relevant projects and issues
                                    that need fixing in your community. These projects and issues can then be seen
                                    and responded to by any user who has the required skills to complete the project.
                                    Sign in or create a user profile to begin improving your own community!  </h3>
        </div>
    </div>
{% endblock %}