<!DOCTYPE html>
{% extends "base.html" %}

{% block active_link %}posts-link{% endblock %}

{% block body %}



<button type="button" name="create" value="Create" onclick="document.location.href='/createpost'">Create Post</button>

    <h2 color="white" class="text-center">Posts</h2>
    <div class="grid-container">
    <ul id="posts">
    {% for item in posts%}
        <li>
            <div class="grid-item">
            <div class="card">
                <h4 class="text-left">
                    {{item.title}}
                </h4>

                <h5 class="text-left">
                    {{item.description}}
                </h5>

                <h5 class="text-left">
                    Loc: {{item.loc}}
                </h5>

                <h5 class="text-left">
                    Skills Required: {{item.skills}}
                </h5>

                <button class="right" value="Expand" onclick=document.location.href="{{ modify_query("/details", postid=item._id) }}">
                        View More
                    </button>
            </div>
            </div>
        </li>
    {% endfor %}
    </ul>
    </div>

{% endblock %}