<!DOCTYPE html>
{% extends "base.html" %}

{% block active_link %}posts-link{% endblock %}

{% block body %}
    <ul id="post">
    <div class ="card">

        <div class="container">
            <h1 class="text-center"> {{post[0]}} </h1>
            <h2 class="text-left"> {{post[1]}}</h2>
            <h2 class="text-left"> Location: {{post[2]}}</h2>
            <h2 class="text-left"> Skills Required: {{post[3]}}</h2>
        </div>

        <label for="Comment"></label>
        <textarea id="Comment" rows="4" cols="50"></textarea><br>

        <div class="row">
            <!-- make it so that when RSVP'd your user name will appear in the RSVP'd tab for the card -->
            <!-- make a RSVP'd label for the post card -->
            <!-- what does the post card belong to? -->
            <button onclick=""> RSVP </button>

            <!-- find a way to make a specific block for comments when they are put in -->
            <button onclick=""> Comment</button>
        </div>
    </div>
    <div class ="card">
        <div class ="container">

        </div>
    </div>
    </ul>

{% endblock %}