<!DOCTYPE html>
{% extends "base.html" %}

{% block active_link %}posts-link{% endblock %}

{% block body %}

    <ul id="post">
        <div class ="card">
            <div class="row">
                <div class="container">
                    <h1 class="text-center"> {{post[0]}} </h1>
                    <h2 class="text-left"> {{post[1]}}</h2>
                    <h2 class="text-left"> Location: {{post[4]}}</h2>
                    <h2 class="text-left"> Skills Required: {{post[2]}}</h2>
                    <h2 class="text-left"> RSVP: </h2>
                    <div class ="card">
                    {% for rsvps in post[4] %}
                        <h5 class="text-left">{{ rsvps['user'] }} </h5>
                    {% endfor %}
                    </div>
                </div>
            <img src="{{post[6]}}" alt="placeholder">
            </div>

        <div class="form-holder">
            <form action="{{ modify_query("/comment", postid=post[3]) }}" method="POST">
                <div class="form-cell">
                    <label for="Comment"></label>
                    <textarea type="text" name="Comment" id="Comment" rows="4" cols="50"></textarea><br>
                </div>

                <input type="submit" class="btn" name="Comment" value="Comment">
            </form>
        </div>

         <button type="button" name="rsvp" value="rsvp" onclick="document.location.href='{{ ("/rsvp_confirm?postid=" + post[3]|string) }}'"> RSVP </button>

         <div class="col">
             {% for comments in post[5] %}
                <div class ="card">
                    <div class ="container">
                    <h5 class="text-left">{{ comments['user'] }} said: </h5>
                    <h4 class=text-left>{{comments['comment']}}</h4>

                    </div>
                </div>
             {% endfor %}
         </div>



{% endblock %}